PORT=5000
MONGODB_URI=mongodb://localhost:27017/vpn_system
JWT_SECRET=your_super_secret_key_change_this_in_production
SERVER_IP=YOUR_VPS_IP
SERVER_PUBLIC_KEY=SERVER_WG_PUBLIC_KEY
WG_INTERFACE=wg0
WG_CONFIG_PATH=/etc/wireguard/wg0.conf
NODE_ENV=development
